@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #35424A;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}
footer p {
  color: #eee;
  margin-bottom: 1rem;
}
footer img {
  height: 5vh;
}

.footer-about {
  margin-top: 13rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #35424A;
  border-bottom: 3px solid #a9508b;
}
nav .clarusway {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 3px;
}
nav span {
  font-size: 2rem;
  color: #a9508b;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}
nav ul li {
  margin-left: 1rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}
nav ul li .nav__link--active {
  color: #a9508b;
}

.main-about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
}
.main-about .left {
  padding: 1rem 2rem;
}
.main-about .left p {
  margin-top: 1rem;
}
.main-about .left h3 {
  margin-bottom: 1rem;
}
.main-about .left .bg-p {
  background-color: #35424A;
  padding: 1rem;
  color: #eee;
  height: 7rem;
  display: flex;
  align-items: center;
}
.main-about .right {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #35424A;
  color: #eee;
  height: 25vh;
}
.main-about h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.main-about p {
  margin-top: 1rem;
}

.bgi {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(rgba(24, 23, 23, 0.26), rgba(17, 17, 17, 0.7)), url("../../images/showcase.jpg");
  background-size: cover;
  background-position: center center;
}
.bgi h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 900;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #35424A;
  color: #eee;
  padding: 1rem;
}
.subscribe .newsletter {
  font-size: 1.5rem;
}
.subscribe .email {
  display: flex;
}
.subscribe .email input {
  margin-right: 0.5rem;
  height: 2rem;
  width: 15rem;
  border: none;
  outline: none;
  padding: 0.5rem;
}
.subscribe .email button {
  height: 2rem;
  width: 5rem;
  background-color: rgb(230, 79, 9);
  color: #eee;
  border: none;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .html, .main .css, .main .design, .main .main-services .left-services .maintenance, .main-services .left-services .main .maintenance, .main .main-services .left-services .hosting, .main-services .left-services .main .hosting {
  text-align: center;
}
.main .html img, .main .css img, .main .design img, .main .main-services .left-services .maintenance img, .main-services .left-services .main .maintenance img, .main .main-services .left-services .hosting img, .main-services .left-services .main .hosting img {
  margin-top: 1.5rem;
  width: 25%;
}
.main .html h3, .main .css h3, .main .design h3, .main .main-services .left-services .maintenance h3, .main-services .left-services .main .maintenance h3, .main .main-services .left-services .hosting h3, .main-services .left-services .main .hosting h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}
.main .html p, .main .css p, .main .design p, .main .main-services .left-services .maintenance p, .main-services .left-services .main .maintenance p, .main .main-services .left-services .hosting p, .main-services .left-services .main .hosting p {
  margin-bottom: 1.5rem;
}
.main-services {
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
.main-services .left-services .design, .main-services .left-services .maintenance, .main-services .left-services .hosting {
  background-color: lightgray;
  padding: 1rem;
  margin-top: 1rem;
}
.main-services .left-services .design h3, .main-services .left-services .maintenance h3, .main-services .left-services .hosting h3 {
  margin-top: 1rem;
}
.main-services .left-services .design p, .main-services .left-services .maintenance p, .main-services .left-services .hosting p {
  margin-top: 1rem;
}
.right-services {
  background-color: #35424A;
  color: #eee;
  padding: 1rem;
  height: 60vh;
}
.right-services h3 {
  margin: 1rem 0;
}
.right-services input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  color: #eee;
  margin-bottom: 0.5rem;
  border: none;
  outline: none;
}
.right-services label {
  display: block;
  margin-bottom: 0.5rem;
}
.right-services textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  color: #eee;
  margin-bottom: 0.5rem;
  border: none;
  outline: none;
}
.right-services button {
  height: 2rem;
  width: 5rem;
  background-color: rgb(230, 79, 9);
  color: #eee;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 0px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav .clarusway {
    border-bottom: 2px solid #a9508b;
    margin-bottom: 2rem;
    text-align: center;
  }
  .nav .nav__list {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
  }

  .bgi {
    text-align: center;
  }

  .subscribe .email {
    display: flex;
    flex-direction: column;
  }
  .subscribe .email input {
    margin-bottom: 0.5rem;
    height: 2rem;
    width: 10rem;
    border: none;
    outline: none;
    padding: 0.5rem;
  }
  .subscribe .email button {
    height: 1.5rem;
    width: 5rem;
    background-color: rgb(230, 79, 9);
    color: #eee;
    border: none;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .main-about .left p {
    margin-bottom: 1rem;
  }
  .main-about .left .bg-p {
    height: 65%;
  }
  .main-about .right {
    height: 55%;
  }

  .right-services {
    height: 63%;
  }
  .right-services button {
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 576px) {
  .right-services {
    height: 70vh;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
  .nav .clarusway {
    text-align: center;
    border: none;
    margin-bottom: 0;
  }
  .nav .nav__list {
    display: flex;
    flex-direction: row;
    line-height: 0;
  }

  .subscribe .email {
    display: flex;
    flex-direction: row;
    padding-right: 1.5rem;
  }
  .subscribe .email input {
    height: 3rem;
    width: 20rem;
    font-size: 1.1rem;
    margin-right: 1.5rem;
  }
  .subscribe .email button {
    height: 3rem;
    width: 5.5rem;
    font-size: 1.1rem;
  }

  .main-about .left .bg-p {
    height: 50%;
  }
  .main-about .right {
    height: 55%;
  }

  .right-services {
    height: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: row;
    height: 25vh;
  }
  .main .main-about .right-services {
    height: 50vh;
  }
  .main .main-about .main-services {
    margin-bottom: -1.4rem;
  }
}
@media screen and (min-width: 1600px) {
  .container h2 {
    font-size: 2rem;
  }
  .container h3 {
    font-size: 2rem;
  }
  .container .newsletter {
    font-size: 2rem;
  }

  .nav .clarusway {
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 900;
  }
  .nav span {
    font-size: 2.5rem;
  }
  .nav .nav__list {
    padding-right: 1.5rem;
  }

  .bgi p {
    font-size: 1.3rem;
  }

  .subscribe .newsletter {
    font-size: 1.5rem;
  }
  .subscribe input {
    height: 2rem;
    width: 15rem;
    font-size: 1.1rem;
    margin-right: 1.5rem;
  }
  .subscribe button {
    height: 3rem;
    width: 5.5rem;
    font-size: 1.1rem;
  }

  footer {
    height: 15vh;
  }

  .main {
    height: 35vh;
  }

  .main-about {
    height: 37vh;
  }
  .main-about .left .bg-p {
    height: 7rem;
  }
  .main-about .right {
    height: 17vh;
  }

  .main-services {
    margin-bottom: 0;
  }
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
