.main-about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
    .left {
        padding: 1rem 2rem;
        p {
            margin-top: 1rem;
        }
        h3 {
            margin-bottom: 1rem;
        }
        .bg-p {
            background-color: $bgc-color;
            padding: 1rem;
            color: $text-color;
            height: 7rem;
            display: flex;
            align-items: center;
        }
    }
    .right {
        margin-top: 1.5rem;
        padding: 1rem;
        background-color: $bgc-color;
        color: $text-color;
        height: 25vh;
        
    }
    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    p {
        margin-top: 1rem;
    }
}