.bgi {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(rgba(24, 23, 23, 0.26), rgba(17, 17, 17, 0.7)),
      url("../../images/showcase.jpg");
    background-size: cover;
    background-position: center center;
    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
      font-weight: 900;
    }
  }


.subscribe {
    @include super();
    justify-content: space-between;
    background-color: $bgc-color;
    color: $text-color;
    padding: 1rem;
    .email {
        display: flex;
        input {
            margin-right: 0.5rem;
            height: 2rem;
            width: 15rem;
            border: none;
            outline: none;
            padding: .5rem;
        }
        button {
            height: 2rem;
            width: 5rem;
            background-color: $btn-bgc;
            color: $text-color;
            border: none;
        }
    }
}

.main {
    @include super();
    .html {
        text-align: center;
        img {
            margin-top: 1.5rem;
            width: 25%;
        }
        h3 {
            font-size: 1.5rem;
            font-weight: 700;
            margin: 1rem 0;
        }
        p {
            margin-bottom: 1.5rem;
        }
    }
    .css, .design {
        @extend .html;
    }
}