footer {
    background-color: $bgc-color;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    p {
        color: $text-color;
        margin-bottom: 1rem;
    }
    img {
        height: 5vh;
    }
}

.footer-about {
    
    margin-top: 13rem;
}