nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #35424A;
    border-bottom: 3px solid rgb(165, 26, 165);
    .clarusway {
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
    }
    span {
        font-size: 1.5rem;
        color: rgb(165, 26, 165);
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        text-transform: uppercase;
        li {
            margin-left: 1rem;
            a {
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 700;
            }
            .nav__link--active{
                color: rgb(146, 15, 107);
            }
        }
    }
}